<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:sxaxm="http://www.sitecore.net/xmlconfig/sxaxm/">
  <sitecore>
    <pipelines>
      <mvc.customizeRendering>
        <!--<processor patch:after="*[@type='Sitecore.Mvc.Analytics.Pipelines.Response.CustomizeRendering.Personalize, Sitecore.Mvc.Analytics']" type="Sitecore.XA.Foundation.VariantPersonalization.Pipeline.CustomizeRendering.ResolvePersonalizedRenderingVariant, Sitecore.XA.Foundation.VariantPersonalization" resolve="true" />-->
      </mvc.customizeRendering>
      <mvc.renderRendering>
        <processor patch:after="*[@type='Sitecore.XA.Foundation.LocalDatasources.Pipelines.RenderRendering.ResolveRenderingDatasource, Sitecore.XA.Foundation.LocalDatasources']" type="Sitecore.XA.Foundation.VariantPersonalization.Pipeline.RenderRendering.AssignPersoanlizedRenderingVariant, Sitecore.XA.Foundation.VariantPersonalization" resolve="true" />
      </mvc.renderRendering>
    </pipelines>
  </sitecore>
</configuration>