<?xml version="1.0" encoding="utf-8" ?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:sxaxm="http://www.sitecore.net/xmlconfig/sxaxm/">
  <sitecore>
    <pipelines>
      <!-- Apply Rendering Parameter Rules for personalization conditions -->
      <mvc.customizeRendering patch:source="Sitecore.MvcAnalytics.config">
        <processor patch:instead="*[@type='Sitecore.Mvc.Analytics.Pipelines.Response.CustomizeRendering.Personalize, Sitecore.Mvc.Analytics']"
                   type="Sitecore.XA.Foundation.RenderingVariant.Pipeline.CustomizeRendering.PersonalizeTransferParameter, Sitecore.XA.Foundation.RenderingVariant"/>
        <processor patch:instead="*[@type='Sitecore.ContentTesting.Mvc.Pipelines.Response.CustomizeRendering.SelectVariation, Sitecore.ContentTesting.Mvc']"
                   type="Sitecore.XA.Foundation.RenderingVariant.Pipeline.CustomizeRendering.SelectVariationTransferParameter, Sitecore.XA.Foundation.RenderingVariant"/>
      </mvc.customizeRendering>

      <group name="ExperienceEditor" groupName="ExperienceEditor">
        <pipelines>
          <!-- Apply Rendering Parameter Rules for personalization conditions in Experience Editor -->
          <executePageEditorAction>
            <processor patch:instead="*[@type='Sitecore.ContentTesting.Pipelines.ExecutePageEditorAction.ActivateCondition, Sitecore.ContentTesting']"
                       type="Sitecore.XA.Foundation.RenderingVariant.Pipeline.ExecutePageEditorAction.ActivateConditionTransferParameter, Sitecore.XA.Foundation.RenderingVariant"/>
          </executePageEditorAction>

        </pipelines>
      </group>
      
    </pipelines>
    

  </sitecore>
</configuration>